<div class="mt-7">
    <main class="max-w-7xl sm:px-6 lg:px-8 pb-10">
        <div class="flex items-center justify-between border-gray-2000 pb-6 pt-6">
            <h1 class="text-2xl">Products</h1>
            <div>
                <div class="flex items-center">
                    <button mat-button [matMenuTriggerFor]="sortMenu">Sort</button>
                    <mat-menu #sortMenu="matMenu">
                        <button (click)="handleSingleSelectFilter('price_high','sort')" mat-menu-item>Price: high-low</button>
                        <button (click)="handleSingleSelectFilter('price_low','sort')" mat-menu-item>Price: low-high</button>
                    </mat-menu>
                    <mat-icon>dashboard</mat-icon>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <section class="pt-6 grid grid-cols-1 gap-8 lg:grid-cols-4">
            <div>
                <div class="flex items-center justify-between">
                    <p class="text-lg">Filters</p>
                    <mat-icon>filter_list</mat-icon>
                </div>
                <form class="hidden lg:block">
                    <div *ngFor="let item of filterData let last=last">
                        <div class="py-6">
                            <span class="font-medium">{{item.name}}</span>

                            <div class="pt-6" id="filter-section-0">
                                <div *ngFor="let options of item.options" class="flex">
                                    <mat-checkbox 
                                    id="options.value"
                                    [name]="item.id" 
                                    [value]="options.value" 
                                    (click)="handleMultipleSelectFilter(options.value, item.id)">
                                    </mat-checkbox>
                                    <span class="flex items-center">{{options.label}}</span>
                                </div>
                            </div>
                        </div>
                        <mat-divider *ngIf="!last"></mat-divider>
                    </div>
                    <mat-divider></mat-divider>
                    <div *ngFor="let item of singleFilterData let last=last">
                        <div class="py-6">
                            <span class="font-medium">{{item.name}}</span>

                            <div class="pt-6" id="filter-section-0">
                                <div *ngFor="let options of item.options" class="flex">
                                        <mat-radio-button id="option.value"
                                        [name]="item.id" 
                                        [value]="options.value"
                                        (click)="handleSingleSelectFilter(options.value, item.id)"></mat-radio-button>
                                    <span class="flex items-center">{{options.label}}</span>
                                </div>
                            </div>
                        </div>
                        <mat-divider *ngIf="!last"></mat-divider>
                    </div>
                </form>
                
            </div>

            <div class="lg:col-span-3">
               <div class="flex flex-wrap">
                <ng-container *ngFor="let product of products">
                    <app-product-card [product]="product"></app-product-card>
                </ng-container>
               </div>
            </div>
        </section>
    </main>
</div>