<div class="bg-[#673ab7] text-white mt-0 text-center px-5">
    <div class="container">
        <div class="py-3 flex justify-between">
            <div class="px-4">
                <h3 class="px-5 text-lg font-bold">Get to Know Us</h3>
                <p class="mb-2">About</p>
                <p class="mb-2">Blog</p> 
                <p class="mb-2">Partners</p>            
            </div>

            <div class="px-4">
                <h3 class="px-5 text-lg font-bold">Connect with Us</h3>
                <p class="mb-2">Facebook</p>
                <p class="mb-2">Twitter</p> 
                <p class="mb-2">Instagram</p>            
            </div>

            <div class="px-4">
                <h3 class="px-5 text-lg font-bold">Let  Us Help</h3>
                <p class="mb-2">Your Accounts</p>
                <p class="mb-2">Customer care</p>  
                <p class="mb-2">Help</p>      
            </div>
        </div>
        <div class="text-center">
            <p>&copy; 2000-2023, Phabba Merchants . All rights reserved</p>
        </div>
    </div>
</div>
