<div class="box mb-2">
    <div class="grid grid-cols-12 gap-3">
        <div class="col-span-3 lg:col-span-1">
            <div class="w-[3rem] h-[3rem]">
                <img class="w-full h-full rounded-full object-cover"
                    src="https://image.shutterstock.com/image-photo/happy-young-woman-sitting-on-260nw-2018571389.jpg"
                    alt="">
            </div>
        </div>
        <div class="col-span-6 lg:col-span-9">
            <div class="space-y-2">
                <div>
                    <p class="font-semibold text-lg">Anamika</p>
                    <p class="opacity-70">Sept 01, 2023</p>
                </div>
                <div>
                    <app-star></app-star>
                </div>
                <p>comments here- nice kurta</p>
            </div>
        </div>

    </div>
</div>