<div class="mt-7">
    <div>
        <app-home-carousel></app-home-carousel>
    </div>
    <div>
        <app-product-slider title="Men's Jeans" [products]="mensJeans"></app-product-slider>
        <app-product-slider title="Men's Kurta" [products]="mensKurta"></app-product-slider>
        <app-product-slider title="Lehenga Choli" [products]="womensLehenga"></app-product-slider>
        <app-product-slider title=" Women's Gown" [products]="womensGown"></app-product-slider>
        <app-product-slider title="Men's Shoes" [products]="mensShoes"></app-product-slider>
    </div>
</div>
